
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
 img {
    height: 92px;
    border-radius: 50%;
    -moz-box-shadow: 0px 6px 5px #ccc;
    -webkit-box-shadow: 0px 6px 5px #ccc;
    box-shadow: 0px 6px 5px #ccc;
    -moz-border-radius:190px;
    -webkit-border-radius:190px;
    border-radius:190px;
}
.songs {
    height: 287px;
    width: 500px;
    text-align: center;
    border: solid 2px;
    margin-top: 20px;
    border-radius: 20px;
    margin: auto;
}

.playing {
    border:solid 2px springgreen;
}

.playlists {
    width: 500px;
    height: 100px;
    border: solid 2px;
    border-radius: 20px;
    margin: auto;
}

div {
    margin-top: 10px;
}

.text {
    white-space: nowrap;
}

.songs > .text {
    text-align: left;
    margin-left: 10px;
}

.songs> img {
    align-items: flex-start;
}