
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    background-color: rgba(240, 235, 235, 0.411);
}
 img {
    height: 92px;
    border-radius: 50%;
    -moz-box-shadow: 0px 6px 5px #ccc;
    -webkit-box-shadow: 0px 6px 5px #ccc;
    box-shadow: 0px 6px 5px #ccc;
    -moz-border-radius:190px;
    -webkit-border-radius:190px;
    border-radius:190px;
}
.songs {
    height: 287px;
    width: 300px;
    text-align: center;
    border: solid 2px;
    border-radius: 20px;
    margin: 7px;
    display: inline-block;
    position: relative;
}

.playing {
    border:solid 4px rgb(101, 255, 178);
    width: 320px;
    height: 300px;
}

.playlists {
    width: 300px;
    height: 100px;
    border: solid 2px;
    border-radius: 20px;
    margin: 7px;
    display: inline-block;
}

div {
    margin-top: 10px;
}

.text {
    white-space: nowrap;
}

.songs > .text {
    text-align: left;
    margin-left: 10px;
}

.songs> img {
    align-items: flex-start;
}

.medium-dration {
    color: rgb(221, 76, 76);
    
}

#remove-button {
    position:absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}

#pause-button {
    position:absolute;
    right: 37px;
    bottom: 10px;
    display: none;
    cursor: pointer;
}

#start-button {
    position:absolute;
    right: 39px;
    bottom: 10px;
    display: inline;
    cursor: pointer;;
}


.start-stop-delete {
    font-size: 19px;
}

#add-section .add-song{
    margin: auto;
    list-style: none;
    display: none;
    margin-top: 3px;
    border-radius: 4px;
}

#add-section #add-song-header {
    cursor: pointer;
}

#add-section #add-song-header::before {
    content: '➡️ ';
    font-size: 80%;
}

#add-section.open #add-song-header::before {
    content: '⬇️ ';
}

#add-section.open .add-song {
    display: block;
}



